<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <!--引入重置样式-->
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <!--引入elementUI-->
    <link rel="stylesheet" href="./stylesheets/element.css">
    <!--引入自定义css-->
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>
<body>

<div id="app">
    <el-main>
        <!--卡片-->
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>修改账号密码</span>
            </div>
            <div class="text item">
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm" :label-position="labelPosition">
                    <el-form-item label="原密码" prop="pass1">
                        <el-input type="password" v-model="ruleForm2.pass1" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="pass">
                        <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </el-main>

</div>

<!--引入jquery-->
<script src="./javascripts/jquery.min.js"></script>
<!--引入vue.js-->
<script src="./javascripts/vue.min.js"></script>
<!--引入elementUI-->
<script src="./javascripts/element.js"></script>
<script>
    new Vue({
        el: "#app",
        data() {
            var checkAge = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('年龄不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value < 18) {
                            callback(new Error('必须年满18岁'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm2.checkPass !== '') {
                        this.$refs.ruleForm2.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm2.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                labelPosition: 'top',
                ruleForm2: {
                    pass: '',
                    checkPass: '',
                    pass1: ''
                },
                rules2: {
                    pass: [
                        {required:'true', validator: validatePass, trigger: 'blur' },
                        {min: 6, max: 16, message:'请输入6到16位的密码', trigger: 'blur'}
                    ],
                    checkPass: [
                        {required:'true', validator: validatePass2, trigger: 'blur' }
                    ],
                    pass1: [
                        {required:'true', validator: validatePass, trigger: 'blur' },
                        {min: 6, max: 16, message:'请输入6到16位的密码', trigger: 'blur'}
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
</body>
</html>